.form{

    justify-content: center;
    margin-top: 20px;
    /* background:red; */
    text-align: center;

}
.input{
    position: relative;
    padding: 10px;
    width: 40%;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    font-size: 18px;
}
.form button{
position:absolute;
background-color: navy;
font-size: 18px;
padding:10px;
border-radius: 0 10px 10px 0;
color:white;
outline: none;
border:1px solid black;
border-left: none;
margin-left:-50px;
cursor: pointer;



}
.editinput{
    width: 80%;
    /* background:transparent; */
    outline: none;
    border:1px solid black;
    color:red;
    border-radius: 30px;
}
